header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid black;
}

h3 {
  border-bottom: 3px solid #FA6700
}

img {
  height: 30px;
  width: 30px;
}

.post-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-reset {
  border-radius: 5px;
  background-color: #FA6700;
  padding: 15px;
  color: #fff;
  text-align: center;
  border: none;
}

.filter-reset:hover {
  background-color: #fab761;
  cursor: pointer;
}

.pages {
  height: 80px;
  width: 150px;
  display: flex;
  align-items:flex-end;
  justify-content: space-evenly;
  margin-right: 10%;
}