.chart-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}