form {
    text-align: center;
}

.filterForm { 
    display: flex;
    justify-content: space-around;
}

.filterSubmit {
    margin-top: 3%;
}

.dateRange {
    display: flex;
    flex-direction: column;
}